/node_modules
/dashboard
/public/hot
/public/storage
/public/dashboard
/public/uploads
/storage/api-docs
/storage/framework
/storage/*.key
/vendor
/subscriber
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mysql
nginx
php
subscriber
mosquitto